@import "tailwindcss";

:root {
  --background: #e2e8f0;
  --foreground: #020617;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

html {
  background: linear-gradient(180deg, #f8fafc 0%, #cbd5e1 100%);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}
